<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="adminstudentinfo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-navbar fixed-top">
        <a class="navbar-brand" href="/home ">Chalk & Chauser</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Staff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link " href="/login">Sign In</a>
                </li>

            </ul>

        </div>
    </nav>
    <div>

        <table class="table table-sm table-bordered" id="table">
            <thead class="thead-dark">
                <tr>
                    <!-- <th>Index Number</th> -->
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Grade</th>

                    <th scope="col">Guardian Name</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">School</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                <% studentinfo.forEach(function (student) { %>
                    <tr>

                        <form action="/update/<%=student.Username%>" method="post">
                            <td>
                                <input type="text" name="Username" value="<%= student.Username %>">
                            </td>
                            <td>
                                <input type="text" name="FirstName" value="<%= student.FirstName %>">

                            </td>
                            <td>
                                <input type="text" name="LastName" value="<%= student.LastName %>">
                            </td>
                            <td>
                                <input type="text" name="Birthday" value="<%= student.Birthday %>">
                            </td>
                            <td>
                                <input type="text" name="Grade" value="<%= student.Grade %>">
                                <!-- <select class="form-control form-control-sm" name="Grade">
                                            <option value="default"><%=student.Age%></option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                            <option>05</option>
                                            <option>06</option>
                                            <option>07</option>
                                            <option>08</option>
                                            <option>09</option>
                                            <option>10</option>
                                            <option>11</option>
                                          </select> -->
                            </td>
                            <td>
                                <input type="text" name="GuardianName" value="<%= student.GuardianName %>">
                            </td>
                            <td>
                                <input type="text" name="MobileNumber" value="<%= student.MobileNumber %>">
                            </td>
                            <td>
                                <input type="text" name="School" value="<%= student.School %>">
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary btn-sm ">Update</button>
                            </td>
                        </form>
                        <td>
                            <form action="/delete/<%=student.StudentId%>" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm ">Delete</button>
                            </form>

                        </td>

                    </tr>
                    <% }) %>


            </tbody>

        </table>
    </div>



    <script src="/scripts/adminstudentinfo.js"></script>
</body>